html, body {
  height: 100%;
  margin: 0;
  max-height: 100%;
}

#wrapper {
  display: flex;
  min-height: 100%;
  flex: 1;
}

#library {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
}

#header {
  background: lightgray;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;;
}

.filler {
  min-width: 1px;
  min-height: 60%;
  display: flex;
  flex: 1;
  justify-content: center;
}

h1 {
  margin: 0;
  font-size: calc(3vw + 2.5vh);
  display: flex;
  flex: 1;
  justify-content: center;
}

#add {
  min-width: 40%;
  font-size: calc(1vh + 1.5vw);
  margin: 0;
}

.overlay {
  z-index: 1;
  opacity: 30%;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background: black;
}


#new-card-modal {
  z-index: 2;
  min-width: 20vw;
  min-height: 50vh;
  max-width: 20vw;
  max-height: 50vh;
  position: absolute;
}

#modal-header {
  display: flex;
  justify-content: space-between;
}

#modal-header p {
  margin: 0;
}

#modal-message {
  min-height: 28px;
  font-size: 24px;
}

#close-modal {
  border-radius: 50%;
  background: red;
  font-weight: bold;
}

#new-card-fieldset {
  border-radius: 0.5em;
  font-size: 24px;
  background: white;
  display: flex;
  flex-direction: column;
}

#new-card-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 36px;
}

#new-card-form input {
  min-width: 25vw;
  min-height: 5vh;
  font-size: 24px;
}

#new-card-form textarea {
  font-size: 18px;
}

#cards-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  min-width: 75%;
  max-width: 100%;
}

#cards-grid {
  margin: 20px 0;
  display: grid;
  gap: 4vh;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  min-width: 80%;
  max-width: 80%;
}

.card {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  min-width: 22vw;
  min-height: 35vh;
  max-width: 20vw;
  max-height: 35vh;
}

.card p {
  margin: 0;
}

.card-header {
  overflow: auto;
  border-bottom: 2px solid black;
}

.card-title {
  display: flex;
  font-weight: bold;
  background: none;
  overflow-wrap: anywhere;
  font-size: 200%;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 120px;
}

.card-author {
  background: none;
  display: flex;
  flex-direction: column wrap;
  font-weight: 400;
  font-size: calc(2vh + 1vw);
  text-align: center;
  overflow-wrap: anywhere;
  justify-content: center;
  align-items: center;
  max-height: 120px;
}

.card-content {
  background: none;
  display: flex;
  flex: 1;
  font-size: calc(1vh + 1vw);
  padding: 5% 3%;
  overflow-wrap: anywhere;
  max-height: fit-content;
  overflow-y: auto;
}

.card-footer {
  border-top: 2px solid black;
  min-height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.card-footer button,
.card-footer p {
  display: flex;
  max-height: 10vh;
}

.card-footer input {
  width: 18px;
  height: 18px;
}

.card-footer button {
  font-size: 2.5vh;
}

.card-read {
  display: flex;
  align-items: center;
  font-size: 2.5vh;
}

#footer {
  background: lightgray;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
}

.sidebar {
  display: flex;
  background: rgb(189, 189, 189);
  flex: 1;
  flex-direction: column;
  min-height: 100%;
}

#main-sidebar {
  max-width: 15%;
}

#sidebar-box {
  display: flex;
  min-height: 33%;
  justify-content: center;
}

#hidden-sidebar {
  align-items: center;
  justify-content: center;
  max-width: 2%;
  min-height: 100%;
  font-size: calc(3vh + 0.9vw);
  cursor: pointer;
}

#right-sidebar {
  max-width: 2%;
  background: lightgray;
}

#plug,
#plug a {
  color: black;
  text-decoration: none;
  font-size: 110%;
}

#sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: calc(1vh + 0.9vw);
  margin-left: 3%;
}

#sidebar-links p {
  font-size: 150%;
}

#sidebar-links a {
  text-decoration: none;
  color: black;
  margin-bottom: 5%;
}

#sidebar-links ul {
  list-style: none;
}


.hidden {
  display: none;
};

.overlay .hidden {
  display: none;
}

.read {
  background: rgb(185, 185, 185);
  border:2.5px solid rgb(41, 41, 41);
}